
/*li {*/
    /*-webkit-transition: .5s ease-in-out;*/
    /*-moz-transition: .5s ease-in-out;*/
    /*-ms-transition: .5s ease-in-out;*/
    /*-o-transition: .5s ease-in-out;*/
    /*transition: .5s ease-in-out;*/
/*}*/
/*ul {*/
    /*list-style: none;*/
    /*margin: 100px auto;*/
/*}*/
ul li[target=_List] {
	-webkit-transform: rotate();
    -moz-transform: scale(1.1) rotate(0);
    -ms-transform: scale(1.1) rotate(0);
    -o-transform: scale(1.1) rotate(0);
    transform: scale(1.1) rotate(0);
	/*margin-left: -7%;*/
}
ul:hover li[target=_List] {
    box-shadow: none;
    opacity: .25;
    -webkit-transform: scale(.8) rotate(0);
    -moz-transform: scale(.8) rotate(0);
    -ms-transform: scale(.8) rotate(0);
    -o-transform: scale(.8) rotate(0);
    transform: scale(.8) rotate(0);
}
ul li[target=_List]:hover {
    /*box-shadow: 0 0 15px 5px #5aff07;*/
    opacity: 1;
    -webkit-transform: scale(1.1) rotate(0);
    -moz-transform: scale(1.1) rotate(0);
    -ms-transform: scale(1.1) rotate(0);
    -o-transform: scale(1.1) rotate(0);
    transform: scale(1.1) rotate(0);
    /*margin-left: 0;*/
}

tr:hover {
    box-shadow: inset 0 0 5px 5px #22aff0;
    opacity:0.9;
    cursor: pointer;
}

/*Status Color*/
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}

/*Hack for modal popup*/
.modal.fade .modal-dialog {
    /*transform: translate3d(0px, -25%, 0px) rotate(-90deg);*/
}
.modal.in .modal-dialog {
    /*transform: translate3d(0px, 0px, 0px) rotate(0deg);*/
}

/*Side Nav*/
.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  overflow: hidden;
  cursor: default;
  color: #c8c8c8;
  background: #222;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
  -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
  -o-transition: width ease-in-out 0.28s, background linear 0.1s;
  transition: width ease-in-out 0.28s, background linear 0.1s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.side-nav ul {
  width: 200px;
  margin: 0;
  padding: 0;
}

.side-nav li a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: inherit;
  color: #aaaaaa;
  line-height: 44px;
  padding-left: 20px;
  border-top: 1px #2d2d2d solid;
}
.side-nav li a.selected {
  color: #e3bc28;
}
.side-nav li:last-child a {
  border-bottom: 1px #2d2d2d solid;
}
html.side-nav-open {
  padding-left: 200px;
}
html.side-nav-open body {
  padding-left: 0;
}


/*
* ===== Slideshow
*/
#zt-slideshow {
    background: url(../resources/pictures/007.jpg) no-repeat center center white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#zt-slideshow-inner {
    margin: auto;
}
#zt-slideshow h1 {
    font-size: 60px;
    line-height: 62px;
}
.largetext {
    font-size: 60px;
    line-height: 62px;
    font-weight: 300;
    word-break: break-word;
    margin: 10px 0;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}
/*
* ===== HS Clients
*/
#hs-clients {
    background-color: #ffffff;
    text-align: center;
}
/*
* ===== ZT Mainframe
*/
#zt-mainframe {
    display: none;
}
/*
* ===== Userwrap 6
*/
#zt-userwrap6 {
    background-color: #eeeaea;
}
#zt-userwrap6 .span3 {
    padding: 0 15px;
    width: 25%;
}
#zt-userwrap6 .modulecontent {
    background-color: #f3f3f3;
}
.support-box {
    min-height: 400px;
    padding: 14px 22px;
    position: relative;
}

.support-box p {
    margin: 0;
    margin-bottom: 40px;
}
.support-box .button {
    position: absolute;
    bottom: 0;
}
#zt-userwrap6 h3 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
}
#zt-userwrap6 p {
    font-size: 18px;
    line-height: 26px;
}
#zt-userwrap6 strong {
    font-size: 14px;
    line-height: 14px;
}
/*
* ===== Userwrap 7
*/
#zt-userwrap7 {
    color: #eeeaea;
    background-color: #252530;
}
#zt-userwrap7 h4 {
    margin-bottom: 5px;
}
#zt-userwrap7 p {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
}

#zt-userwrap7 h3.moduletitle {
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
}
/* Customized borders */
#zt-userwrap7 .span3 {
    width: 25%;
    border-right: thin dotted #eeeaea;
}
#zt-userwrap7 .moduletable {
    min-height: 360px;
    padding: 0 15px;
}
#zt-userwrap7 a {
    color: #eeeaea;
    font-weight: bold;
}
.grayed {
    margin: 0;
    color: #d6d1d1 !important;
}

.slider { margin: 50px 0 10px!important;}

/*#top-nav{*/
    /*background-color: #60d1ff;*/


/*}*/
/*#top-nav a{*/
    /*color: #1b1d20;*/
    /*text-shadow: 0px 0px 10px #5f5f60;*/
/*}*/

/*#top-nav {*/

    /*width: 200px;*/

    /*height: 200px;*/


    /*background: url(gradient.jpg);*/

    /* Webkit: Safari 4-5, Chrome 1-9 */

    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffe283), to(#faf8ff));*/

    /* Webkit: Safari 5.1+, Chrome 10+ */

    /*background: -webkit-linear-gradient(top, #ffe283, #faf8ff);*/

    /* Firefox 3.6+ */

    /*background: -moz-linear-gradient(top, #ffe283, #faf8ff);*/

    /* Opera 11.10+ */

    /*background: -o-linear-gradient(top, #ffe283, #faf8ff);*/

    /* IE 10 */

    /*background: -ms-linear-gradient(top, #ffe283, #faf8ff);*/

    /* IE < 10 */

    /*FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr= #ff6600, endColorStr=#339900);*/
/*}*/

/*#dropdown-menu{*/
    /*background-color: transparent;*/
/*}*/