<div class="container-fluid zt-slideshow" fade-in>
<section id="directives-calendar" ng-controller="CalendarCtrl" class="TMWindow">
<div class="page-header">
    <h1 class="TMHeader">Team Manner - Calendar</h1>
</div>
<div class="well">
    <div class="row-fluid">

        <div class="span8">
            <tabset>
                <tab select="renderCalender('myCalendar1');">
                    <tab-heading>
                        <i class="glyphicon glyphicon-bell"></i> Calendar Easy Access
                    </tab-heading>
                    <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                        <h4>{{alertMessage}}</h4>
                    </div>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                            <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                            <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                        </div>
                    </div>
                    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                </tab>

            </tabset>
        </div>
    </div>
</div>

</section>
</div>