<div class="container-fluid" fade-in>
	<div class="row">
		<div class="col-md-11">
			<div class="row">
				<div class="col-md-6">
					<div class="list-group">
						<h5 class="list-group-item active">Latest</h5>
						<div class="list-group-item">Dapibus ac facilisis in</div>
						<div class="list-group-item">Morbi leo risus</div>
						<div class="list-group-item">Porta ac consectetur ac</div>
						<div class="list-group-item">Vestibulum at eros</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="list-group">
						<h5 class="list-group-item active">Post Board</h5>
						<div class="list-group-item">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th>
										<th>Date</th>
										<th>Task</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>2014/09/11</td>
										<td>R10 MTP</td>
									</tr>
									<tr>
										<td>2</td>
										<td>2014/09/12</td>
										<td>TB</td>
									</tr>
									<tr>
										<td>3</td>
										<td>2014/09/15</td>
										<td>Comp Leave</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="container">
					<div>
						<div class="handle" id="one"><p class="rotate"></p></div>
						slide
					</div>
					<div>
						<div class="handle" id="two"><p class="rotate"></p></div>
						<div class="slide"><img src="images/2.jpg" /></div>
					</div>
					<div>
						<div class="handle" id="three"><p class="rotate"></p></div>
						<div class="slide"><img src="images/3.jpg" /></div>
					</div>
					<div>
						<div class="handle" id="four"><p class="rotate"></p></div>
						<div class="slide"><img src="images/4.jpg" /></div>
					</div>
					<div>
						<div class="handle" id="five"><p class="rotate"></p></div>
						<div class="slide"><img src="images/5.jpg" /></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>