<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-right">
                <a href="https://github.com/PhoenixJohnson/Manner-Webapp"
                   class="alert alert-link"><span><img
                        ng-src="http://robertjchristian.github.com/fs2/images/octocat-icon.png">View on GitHub</span></a>
            </div>

            <div class="page-header">
                <h1>Team Manner</h1>
                <h4>An OA software dedicate to all team/group working trace.</h4>
            </div>
            <div>
                <p>TM is mainly using below popular techs:</p>
                <ul>
                    <li>Coding language: JAVA + Javascript</li>
                    <li>Source Control: GitHub (<a href="https://github.com/">GitHub</a> )</li>
                    <li>Project Management: Maven (<a href="http://maven.apache.org/">Maven</a>)</li>
                    <li>Data Base: Mongo DB (<a href="http://www.mongodb.org/">Mongo</a>)</li>
                    <li>CI build: <a href="http://jenkins-ci.org/">Jenkins</a></li>
                    <li>Mid-ware layer: Tomcat 7.0 +(Dev)/<a
                            href="http://www.oracle.com/technetwork/middleware/glassfish/overview/index.html?ssSourceSiteId=otncn">Glass
                        fish</a> 3.0+(ITG)
                    </li>
                    <li>Front side: <a href="https://docs.angularjs.org/guide">Angularjs</a> + <a
                            href="http://getbootstrap.com/2.3.2/">bootstrap</a></li>
                    <li>Backend side: SpringMVC – RESTful web service  (you can learn Restful related knowledge from <a
                            href="https://jersey.java.net/">Jersey</a> )
                    </li>
                </ul>

            </div>



        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>