<nav class="navbar navbar-inverse navbar-fixed-bottom" style="text-align:center;rgba(156, 171, 174, 0.6);" role="navigation">
    <div class="navbar-footer">

        <!--
        <a class="navbar-brand" href="#">&copy; {{constants.company_name}} {{constants.copyright_year}}</a>
        -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>
    <button class="btn-link">Welcome to visit Team Manner</button>
    <div style="font-size:9px">This is a demo application for Team Manner project usage</div>

    <div id="footer-nav" class="navbar-collapse collapse">




    </div>
</nav>